*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}


.main{
    height: 100%;
    width: 100%;
    background-color: rgba(4, 4, 4, 0.877);
    display: flex;
    align-items: center;
    justify-content: center;
}

#count{
    position: absolute;
    top: 3%;
    left: 35%;
    font-size: 10rem;
}

.box{
    height: 50%;
    width: 50%;
    background: rgb(86, 86, 86);
    border-radius: 2rem;
    padding-top: 4rem;
}

.txt{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 10vw;
    font-weight: 400;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.1rem;
}

button{
    background-color: rgba(63, 60, 60, 0.809);
    border: none;
    border-radius: 1.1rem;
    cursor: pointer;
}

.inc{
   padding: 10px 10px;
   font-size: 20px;
   font-weight: 300;
}

.dec{
   padding: 10px 10px;
   font-size: 20px;
   font-weight: 300;
}